* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F5F5F5;
}


/* HEADER */

header {
    background-color: white;
}

header div p {
    display: flex;
    justify-content: center;
    background-color: #64113c;
    margin-bottom: 0;
    color: white;
}

.headermedio {
    padding: 20px;
}

.logo {
    padding-left: 5%;
}

.accesoheader {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

i {
    color: #64113c;
}

.cuenta {
    padding: 0 29.5px;
    margin: 0 29.5px;
    border: 1px solid #64113c;
    border-top: 0;
    border-bottom: 0;
}

.navprincipal {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 0;
}

.navcat {
    font-weight: bold;
    color: #64113c;
    border: none;
}

.navegacion {
    justify-content: space-around;
    width: 100%;
}

.naveg {
    color: #64113c;
    padding-bottom: 0;
}

.naveg-item {
    padding-bottom: 8px;
}

.naveg:hover { 
    border-bottom-style: solid;
    color: #64113c; 
}

.input-icono {
    background-image: url(../imagenes/lupa.svg);
    background-repeat: no-repeat;
    background-position: 6px center;
    background-size: 20px;
    padding-left: 35px;
    background-color: #F5F5F5;
  }


/* CARRUSEL INFORMATIVO */

.medios-de-pago {
    display: flex;
    justify-content: space-around;
    background: white;
    padding: 3px;
}

/* MAIN */

.main-productos {
    display: flex;
    justify-content: center;
    margin: 40px 0 30px 0;
    color: #64113c;
}

.main-productos h1 {
    font-weight: bold;
}


/* PRODUCTOS */

.carrusel-main {
    margin: 30px 0 80px 0;
}

.cards-wrapper {
    display: flex;
    justify-content: space-around;
}

.cards-wrapper div img {
    border-radius: 50%;
}

.cards-wrapper div img:hover {
    border: 2px solid #64113c;
}

.trans {
    transition: 1s;
}

.traslado {
    width: 50px;
    color: #64113c;
    font-size: xx-large;
    font-weight: bold;
}

.cards-wrapper div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.cards-wrapper div h2 {
    font-size: large;
    font-weight: bold;
}


/* MARCAS */

.marcas {
    display: flex;
    justify-content: space-around;
    margin: 30px 0 30px 0;
}


/* LOS MAS VENDIDOS */

.vendidos h2 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 70px;
}


/* TARJETAS */

.productos {
    display: flex;
    justify-content: space-around;
}

.item{
    width: 270px;
    border-radius: 0 0 10px 10px;
    margin: 10px;
    padding: 0;
    border: none;
    /* border: 1px solid #64113c21; */
    /* background-color: white; */
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
} 

.item img{
    width: 100%;
    height: auto;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.1);
}

.info-product{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-product h2 {
    padding-inline-start: 10px;
    font-size: x-large;
    font-weight: lighter;
    margin: 0;
}

.divider-info {
    margin: 5px;
}

.price{
    padding-inline-start: 10px;
    font-size: large;
    font-weight: 900;
}


/* IMAGENES INFORMATIVAS */

.img-informativa {
    display: flex;
    justify-content: space-around;
    margin: 50px 0 80px 0;
}

.img-informativa img {
    width: 65%;
    height: 280px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.50);
}


/* SUCURSAL */

.section-mapa {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.section-mapa div iframe {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.50);
}

.info-mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.info-mapa h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.info-horarios {
    font-weight: 600;
}


/* NEWSLATTER */

.section-newslatter {
    position: relative;
    display: inline-block;
    text-align: center;
}

.newslatter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 40%;
}

.info-newslatter {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info-newslatter h2 {
    font-size: large;
    font-weight: bold;
    color: #c99a9a;
}

.form-newslatter {
    width: 100%;
}

.input-newslatter {
    background: #c99a9a48;
}

.boton-newslatter {
    color: #c99a9a;
}


/* FOOTER */

footer {
    margin-top: 30px;
    padding-bottom: 20px;
    padding: 10px;
    background-color: white;
}

.footer-general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footer-primero li, .footer-segundo li {
    list-style: none;
    padding: 10px;
    display: flex;
    align-items: center;
}

.footer-primero li a, .footer-segundo li a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #64113c;
    text-decoration: none;
}

.footer-primero a:hover { 
    border-bottom-style: solid;
    color: #64113c; 
}

.footer-segundo li a i {
    font-size: xx-large;
}

.footer-tercero div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-tercero div div {
    margin-bottom: 20px;
}

.footer-tercero h5 {
    font-size: small;
}


/* SERVICIO TECNICO */

.servtecnico, .figtecnico {
    display: flex;
    justify-content: space-around;
}

.h2tecnico {
    display: flex;
    justify-content: center;
}

.service {
    margin-top: 30px;
}

.service, .figtecnicos{
    display: flex;
    justify-content: space-around;
}

.h2tecnicos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2tecnicos h2 {
    color: #64113c;
    font-size: xx-large;
    font-weight: bold;
}

.h2tecnico h2 {
    color: #64113c;
    font-size: x-large;
}

.boton-tecnico {
    display: flex;
    justify-content: center;
}

.boton-servicio {
    margin: 30px;
    font-size: xx-large;
    font-weight: bold;
    background-color: #64113c;
    color: #F5F5F5;
    padding: 20px 100px 20px 100px;
}

.boton-servicio:hover {
    background-color: #64113cb7;
}


/* CARRITO */

.img-carrito {
    padding: 10px 0 0 40px;
}

.fondo-carrito {
    border-bottom: 2px solid #64113c81;
}

.row-carrito {
    border: 1px solid #64113c81;
    margin: 20px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.col-carrito {
    display: flex;
    flex-direction: column;
}

.col-carrito div {
    display: flex;
    flex-direction: column;
}

.col-carrito div div {
    display: flex;
}

.col-carrito div p {
    padding-top: 25px;
}

.div-carrito figure {
    margin: 0;
}

.div-carrito figure p{
    padding-inline-start: 15px;
    display: inline;
}

.letra-comprar {
    font-size: x-large;
    font-weight: bold;
}

.letra-comprar- {
    font-size: large;
}

.row-comprar {
    display: flex;
    justify-content: end;
}

.col-comprar {
    border: 1px solid #64113c81;
    margin: 30px;
    padding: 20px;
}

.div-comprar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
}

.div-comprar h2 {
    font-size: x-large;
}

.div-b-comprar {
    display: flex;
    justify-content: center;
}

.boton-comprar {
    margin: 5px;
    font-size: large;
    font-weight: bold;
    background-color: #64113c;
    color: #F5F5F5;
    padding: 10px 100px 10px 100px;
}

.boton-comprar:hover {
    background-color: #64113cb7;
}


/* CUENTA */

.row-cuenta {
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 25px 40px 25px 40px;
    padding: 20px;
    border: 1px solid #64113c42;
}

.col-cuenta {
    display: flex;
    justify-content: space-between;
}

.col-cuenta a {
    text-decoration: none;
    color: #64113c;
    font-size: larger;
}

.cuenta-activo {
    border-bottom-style: solid;
    color: #64113c;
}

.col-cuenta a:hover { 
    font-weight: bold; 
}

.cont-cuenta {
    background-color: white;
    border: 1px solid #64113c42;
}

.jj {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.jj div h2 {
    font-size: x-large;
    font-weight: bold;
}

.jj div h3 {
    font-size: large;
}

.boton-cuenta {
    display: flex;
    justify-content: end;
    margin: 15px 0 0 0;
    padding: 0 40px 25px 0;
}

.boton-cuentas {
    background-color: #64113c;
    color: #F5F5F5;
    padding: 10px;
}

.boton-cuentas:hover {
    background-color: #64113cb7;
}


/* MEDIA QUERY */

@media (max-width: 576px) {
    .trans img {
        height: auto;
    }

    .marcas {
        display: none;
    }

    .carrusel-main {
        margin-bottom: 15px;
    }

    .novedades-dos {
        display: none;
    }

    .img-informativa img{
       display: none;
    }

    .section-mapa {
        margin-top: 0;
    }

    .form-newslatter {
        justify-content: center;
    }

    .newslatter h2 span {
        display: none;
    }

    .input-newslatter {
        width: 200px;
    }

    .footer-primero {
        display: none;
    }

    .footer-segundo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-inline-start: 0;
    }

    .none-cuenta {
        display: none;
    }

    .h3ec {
        margin-bottom: 30px;
    }

    .h2tecnico {
        margin-bottom: 30px;
    }
}