.service .h2tecnicos, footer .footer-tercero div, footer .footer-general, .carrusel-main .trans .cards-wrapper div, header .headermedio .accesoheader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-tecnico, .servtecnico .h2tecnico, .section-newslatter .info-newslatter .newslatter, section .vendidos h2, .main-productos, .row-contacto ul, header div p {
  display: flex;
  justify-content: center;
}

footer .footer-general .footer-segundo li a, footer .footer-general .footer-segundo li, footer .footer-general .footer-primero li a, footer .footer-general .footer-primero li, .section-mapa .info-mapa, .row-contacto ul li a {
  display: flex;
  align-items: center;
}

.service .figtecnicos, .service, .servtecnico .figtecnico, .servtecnico, .section-mapa, .img-informativa, .productos, .marcas, .carrusel-main .trans .cards-wrapper, section .medios-de-pago {
  display: flex;
  justify-content: space-around;
}

.section-newslatter .info-newslatter, .productos .item .info-product {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #F5F5F5;
  overflow-x: hidden;
}

header {
  background-color: white;
}
header div p {
  background-color: #64113c;
  margin-bottom: 0;
  color: white;
}
header .headermedio {
  padding: 20px;
}
header .headermedio .logo {
  padding-left: 5%;
}
header .headermedio .logo img {
  height: 65px;
  width: 95px;
}
header .headermedio .input-icono {
  background-image: url(../imagenes/lupa.svg);
  background-repeat: no-repeat;
  background-position: 6px center;
  background-size: 20px;
  padding-left: 35px;
  background-color: #F5F5F5;
}
header .headermedio .accesoheader {
  font-size: x-large;
}
header .headermedio .accesoheader .cuenta {
  padding: 0 29.5px;
  margin: 0 29.5px;
  border: 1px solid #64113c;
  border-top: 0;
  border-bottom: 0;
}
header .headermedio .accesoheader i {
  color: #64113c;
}
header .headermedio .accesoheader i:hover {
  font-weight: bold;
}
header .navprincipal {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 0;
}
header .navprincipal .navcat {
  font-weight: bold;
  color: #64113c;
  border: none;
}
header .navprincipal div .navegacion {
  justify-content: space-around;
  width: 100%;
}
header .navprincipal div .navegacion .naveg {
  color: #64113c;
  padding-bottom: 0;
}
header .navprincipal div .navegacion .naveg:hover {
  border-bottom-style: solid;
  color: #64113c;
}
header .navprincipal div .navegacion .naveg-item {
  padding-bottom: 8px;
}

section .trans {
  transition: 1s;
}
section .trans img {
  height: 400px;
}
@media (max-width: 576px) {
  section .trans img {
    height: auto;
  }
}
section .medios-de-pago {
  background: white;
  padding: 3px;
}
section .medios-de-pago img {
  width: auto;
  height: auto;
}

.port {
  width: 100%;
  height: auto;
}

.row-contacto ul {
  margin: 20px 0 50px 0;
}
.row-contacto ul:hover {
  font-weight: bold;
}
.row-contacto ul li {
  list-style: none;
}
.row-contacto ul li a {
  text-decoration: none;
  color: #64113c;
  font-size: x-large;
}
.row-contacto ul li i {
  font-size: xx-large;
  margin-right: 10px;
}

.main-productos {
  margin: 40px 0 30px 0;
  color: #64113c;
}
.main-productos h1 {
  font-weight: bold;
}

.carrusel-main {
  margin: 30px 0 80px 0;
}
.carrusel-main .trans {
  transition: 1s;
}
.carrusel-main .trans .cards-wrapper div {
  flex-direction: column;
  gap: 15px;
}
.carrusel-main .trans .cards-wrapper div img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.carrusel-main .trans .cards-wrapper div img:hover {
  border: 2px solid #64113c;
}
@media screen and (max-width: 576px) {
  .carrusel-main .trans .cards-wrapper div img {
    height: auto;
  }
}
.carrusel-main .trans .cards-wrapper div h2 {
  font-size: large;
  font-weight: bold;
}
.carrusel-main .traslado {
  width: 50px;
  color: #64113c;
  font-size: xx-large;
  font-weight: bold;
}
@media screen and (max-width: 576px) {
  .carrusel-main .traslado {
    margin-bottom: 15px;
  }
}
.carrusel-main .traslado i {
  color: #64113c;
}

.marcas {
  margin: 30px 0 30px 0;
}
@media screen and (max-width: 576px) {
  .marcas {
    display: none;
  }
}
.marcas img {
  width: auto;
  height: auto;
}

section .vendidos h2 {
  font-weight: bold;
  margin-top: 70px;
}
@media screen and (max-width: 576px) {
  section .novedades-dos {
    display: none;
  }
}

.productos .item {
  width: 270px;
  border-radius: 0 0 10px 10px;
  margin: 10px;
  padding: 0;
  border: none;
}
.productos .item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.productos .item figure {
  overflow: hidden;
}
.productos .item figure img {
  width: 100%;
  height: 240px;
  transition: all 0.5s;
}
.productos .item figure:hover img {
  transform: scale(1.1);
}
.productos .item .info-product {
  gap: 10px;
}
.productos .item .info-product h2 {
  padding-inline-start: 10px;
  font-size: x-large;
  font-weight: lighter;
  margin: 0;
}
.productos .item .info-product .divider-info {
  margin: 5px;
}
.productos .item .info-product a {
  text-decoration: none;
  color: #64113c;
  font-size: large;
  font-weight: lighter;
}
.productos .item .info-product a:hover {
  font-weight: bold;
}
.productos .item .info-product a .price {
  padding-inline-start: 10px;
}

.img-informativa {
  margin: 50px 0 80px 0;
}
.img-informativa img {
  width: 65%;
  height: 280px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 576px) {
  .img-informativa img {
    display: none;
  }
}

.section-mapa {
  align-items: center;
  margin-bottom: 50px;
}
.section-mapa div iframe {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 400px;
}
.section-mapa .info-mapa {
  flex-direction: column;
  margin: 15px;
}
.section-mapa .info-mapa h2 {
  font-weight: bold;
  margin-bottom: 20px;
}
.section-mapa .info-mapa .info-horarios {
  font-weight: 600;
}
@media screen and (max-width: 576px) {
  .section-mapa {
    margin-top: 0;
  }
}

.section-newslatter {
  position: relative;
  display: inline-block;
  text-align: center;
}
.section-newslatter img {
  width: 100%;
  height: auto;
}
.section-newslatter .info-newslatter {
  width: 100%;
}
.section-newslatter .info-newslatter .newslatter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 10px;
  width: 40%;
}
.section-newslatter .info-newslatter .newslatter h2 {
  font-size: large;
  font-weight: bold;
  color: #c99a9a;
}
@media screen and (max-width: 576px) {
  .section-newslatter .info-newslatter .newslatter h2 span {
    display: none;
  }
}
.section-newslatter .info-newslatter .newslatter .form-newslatter {
  width: 100%;
}
.section-newslatter .info-newslatter .newslatter .form-newslatter .input-newslatter {
  background: rgba(201, 154, 154, 0.2823529412);
}
@media screen and (max-width: 576px) {
  .section-newslatter .info-newslatter .newslatter .form-newslatter .input-newslatter {
    width: 200px;
  }
}
.section-newslatter .info-newslatter .newslatter .form-newslatter .boton-newslatter {
  color: #c99a9a;
}
@media screen and (max-width: 576px) {
  .section-newslatter .info-newslatter .newslatter .form-newslatter {
    justify-content: center;
  }
}

footer {
  margin-top: 30px;
  padding-bottom: 20px;
  padding: 10px;
  background-color: white;
}
footer .footer-general {
  flex-direction: column;
}
footer .footer-general .footer-primero li {
  list-style: none;
  padding: 10px;
}
footer .footer-general .footer-primero li a {
  gap: 10px;
  color: #64113c;
  text-decoration: none;
}
footer .footer-general .footer-primero li a:hover {
  font-weight: bold;
  color: #64113c;
}
@media screen and (max-width: 576px) {
  footer .footer-general .footer-primero {
    display: none;
  }
}
footer .footer-general .footer-segundo li {
  list-style: none;
  padding: 10px;
}
footer .footer-general .footer-segundo li a {
  gap: 10px;
  color: #64113c;
  text-decoration: none;
}
footer .footer-general .footer-segundo li a:hover {
  font-weight: bold;
  color: #64113c;
}
footer .footer-general .footer-segundo li a i {
  font-size: xx-large;
}
@media screen and (max-width: 576px) {
  footer .footer-general .footer-segundo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline-start: 0;
  }
}
footer .footer-tercero div {
  flex-direction: column;
}
footer .footer-tercero div div {
  margin-bottom: 20px;
}
footer .footer-tercero div div img {
  height: 60px;
  width: 90px;
}
footer .footer-tercero div h5 {
  font-size: small;
}

.servtecnico .figtecnico img {
  width: 150px;
  height: 170px;
}
.servtecnico .h2tecnico h2 {
  color: #64113c;
  font-size: x-large;
}
@media screen and (max-width: 576px) {
  .servtecnico .h2tecnico {
    margin-bottom: 30px;
  }
}

.service {
  margin-top: 30px;
}
.service .figtecnicos img {
  width: 100%;
}
.service .h2tecnicos h2 {
  color: #64113c;
  font-size: xx-large;
  font-weight: bold;
}

.boton-tecnico .boton-servicio {
  margin: 30px;
  font-size: xx-large;
  font-weight: bold;
  background-color: #64113c;
  color: #F5F5F5;
  padding: 20px 100px 20px 100px;
}
.boton-tecnico .boton-servicio:hover {
  background-color: rgba(100, 17, 60, 0.7176470588);
}

/*# sourceMappingURL=style.css.map */
